button {
    text-align: center;
    border: rgb(39, 38, 38) groove 2px;
    background: black;
    color: white;
    font-size: 1.5em;
    transition-duration: 1ms;
  }

  button:hover {
    background: #190808;
  }

.buttonDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-top: 1px;
    border-radius: 12px
  }
  
  
  .disp {
    width: 100%;
    height: 10%;
    border-radius: 12px;
    text-align: right;  
    font-size: 1.5em;
    padding: 8px;
  }
  
  .dispSep {
    display: inline-block;
    height: 90%;
    width: 85%;
    margin-top: 1px;
  }
  
  .topDisp {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    height: 20%;
  
  }
  
  .numDisp{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: 60%;
  }
  
  .botDisp {
    display: grid;
    grid-template-columns: auto auto;
    height: 20%;
    width: 100%
  }
  
  .funcDisp { 
    display: grid;
    grid-template-columns: auto;
    width: 15%;
    height: 90%;
    margin-top: 1px;
  }
  
  
  